<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>CevaBase_new</display-name>
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:resource/beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.action</url-pattern>
		<url-pattern>/struts/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/classes/resource/tiles.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>This Servlet Used to Export Report file</description>
		<display-name>ReportExporterServlet</display-name>
		<servlet-name>ReportExporterServlet</servlet-name>
		<servlet-class>com.ceva.reports.ReportExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportExporterServlet</servlet-name>
		<url-pattern>/ReportExporterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>This Servlet Used to Export HTML Report</description>
		<display-name>HtmlReportExporterServlet</display-name>
		<servlet-name>HtmlReportExporterServlet</servlet-name>
		<servlet-class>com.ceva.reports.HtmlReportExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HtmlReportExporterServlet</servlet-name>
		<url-pattern>/HtmlReportExporterServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JqueryDatatablePluginDemo</servlet-name>
		<servlet-class>com.pagination.JqueryDatatablePluginDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JqueryDatatablePluginDemo</servlet-name>
		<url-pattern>/com/pagination/JqueryDatatablePluginDemo.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserManagementPagination</servlet-name>
		<servlet-class>com.pagination.UserManagementPagination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagementPagination</servlet-name>
		<url-pattern>/com/pagination/UserManagementPagination.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserManagementUserPagination</servlet-name>
		<servlet-class>com.pagination.UserManagementUserPagination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagementUserPagination</servlet-name>
		<url-pattern>/com/pagination/UserManagementUserPagination.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PayBillTransacionHistoryServlet</servlet-name>
		<servlet-class>com.ceva.pagination.PayBillTransacionHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayBillTransacionHistoryServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/PayBillTransacionHistoryServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeLiveTransactionsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.HomeLiveTransactionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeLiveTransactionsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/HomeLiveTransactionsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeeDashBoardServelt</servlet-name>
		<servlet-class>com.ceva.pagination.FeeDashBoardServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeeDashBoardServelt</servlet-name>
		<url-pattern>/com/ceva/pagination/FeeDashBoardServelt.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MercahntDashBoardServelt</servlet-name>
		<servlet-class>com.ceva.pagination.MercahntDashBoardServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MercahntDashBoardServelt</servlet-name>
		<url-pattern>/com/ceva/pagination/MercahntDashBoardServelt.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDashBoardServelt</servlet-name>
		<servlet-class>com.ceva.pagination.UserDashBoardServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDashBoardServelt</servlet-name>
		<url-pattern>/com/ceva/pagination/UserDashBoardServelt.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PWalletTransacionHistoryServlet</servlet-name>
		<servlet-class>com.ceva.pagination.PWalletTransacionHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PWalletTransacionHistoryServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/PWalletTransacionHistoryServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CashDepositServlet</servlet-name>
		<servlet-class>com.ceva.pagination.CashDepositServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CashDepositServlet</servlet-name>
		<url-pattern>/CashDepositServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PwalletOrgDashBoardServlet</servlet-name>
		<servlet-class>com.ceva.pagination.PwalletOrgDashBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PwalletOrgDashBoardServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/PwalletOrgDashBoardServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PwalletProfileDashBoardServlet</servlet-name>
		<servlet-class>com.ceva.pagination.PwalletProfileDashBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PwalletProfileDashBoardServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/PwalletProfileDashBoardServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductsUnAuthRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.ProductsUnAuthRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsUnAuthRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/ProductsUnAuthRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductsAuthRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.ProductsAuthRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsAuthRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/ProductsAuthRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductsRejectedRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.ProductsRejectedRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsRejectedRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/ProductsRejectedRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OfferDealUnAuthRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.OfferDealUnAuthRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfferDealUnAuthRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/OfferDealUnAuthRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OfferDealAuthRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.OfferDealAuthRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfferDealAuthRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/OfferDealAuthRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OfferDealRejectRecordsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.OfferDealRejectRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfferDealRejectRecordsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/OfferDealRejectRecordsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BinManagementDashBoardServlet</servlet-name>
		<servlet-class>com.ceva.pagination.BinManagementDashBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BinManagementDashBoardServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/BinManagementDashBoardServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SMSTransactionsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.SMSTransactionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMSTransactionsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/SMSTransactionsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RaisedSMSTransactionsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.RaisedSMSTransactionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RaisedSMSTransactionsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/RaisedSMSTransactionsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CICSelfRegAgentsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.CICSelfRegAgentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CICSelfRegAgentsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/CICSelfRegAgentsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registerchamp</servlet-name>
		<servlet-class>com.ceva.pagination.AgentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerchamp</servlet-name>
		<url-pattern>/registerchamp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>champmap</servlet-name>
		<servlet-class>com.ceva.pagination.AgentMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>champmap</servlet-name>
		<url-pattern>/champmap</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.CustomerDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/CustomerDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CategoryDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.CategoryDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/CategoryDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.ProductDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/ProductDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManufacturerDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.ManufacturerDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManufacturerDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/ManufacturerDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.OrderDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/OrderDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RiderDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.RiderDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RiderDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/RiderDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RiderOrderDetailsServlet</servlet-name>
		<servlet-class>com.ceva.pagination.RiderOrderDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RiderOrderDetailsServlet</servlet-name>
		<url-pattern>/com/ceva/pagination/RiderOrderDetailsServlet.java</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stores</servlet-name>
		<jsp-file>/WEB-INF/jsp/AgencyBanking/BioRegister.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>stores</servlet-name>
		<url-pattern>/stores</url-pattern>
	</servlet-mapping>
</web-app>